<html>
<head>
<title>
FM
</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
<button id="sBigFm" value="927">92.7 Big</button>
<button id="sRedFm" value="935">93.5 Red</button>
<button id="sAir" value="106">100.6</button>


<input type="range" id="myRange" value="5">
<button id="volume">Volume</button>

</body>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

$('#sBigFm').click(function() { //on button_download click event print action takes place
		var sFMValue 	= $('#sBigFm').val();
		var siteurl   = window.location.href; 
		var url 	= "";
		var type 	= 'POST';
      		data = {
			sFM :sFMValue
	      	};
		
		$.ajax({
			url: url,
	  		type: type,
	  		data: data,
	  		success: function(response,xhr,csrftoken) {
	  			alert("Saved successfully..")
	  			console.log(response);				
   	  		},
   	  		headers:{
   	  			'X-CSRFToken': csrftoken
   	  		}
		});
		return false;
});

//redfm button
$('#sRedFm').click(function() { //on button_download click event print action takes place
		var sFMValue 	  = $('#sRedFm').val();
		var siteurl     = window.location.href; 
		var url          = "";
		var type        = 'post';
      		data = {
			sFM :sFMValue
	      	};
		
		$.ajax({
			url: url,
	  		type: type,
	  		data: data,
	  		success: function(response) {
	  			alert("Saved successfully..")
	  			console.log(response);				
   	  		},
   	  		headers:{
   	  			'X-CSRFToken': csrftoken
   	  		}

		});

		return false;
});

//air india button
$('#sAir').click(function() { //on button_download click event print action takes place
		var sFMValue 	= $('#sAir').val();
		var siteurl   = window.location.href; 
		var url = "";
		var type = 'post';
      		data = {
			sFM :sFMValue,
			"ok": 'bye'
	      	};
		
		$.ajax({
			url: url,
	  		type: type,
	  		data: data,
	  		success: function(response) {
	  			alert("Saved successfully..")
	  			console.log(response);				
   	  		},
   	  		headers:{
   	  			'X-CSRFToken': csrftoken
   	  		}
		});

		return false;
});

//volume button
$('#volume').click(function() { //on button_download click event print action takes place

	var x = document.getElementById("myRange").value;
   	var a =Math.round( x/6.66)+200;

    
		var sFMValue 	= a;
		var siteurl   = window.location.href; 
		var url = "";
		var type = 'post';
      		data = {
			sFM :sFMValue
	      	};
		
		$.ajax({
			url: url,
	  		type: type,
	  		data: data,
	  		success: function(response) {
	  			alert("Saved successfully..")
	  			console.log(response);				
   	  		},
   	  		headers:{
   	  			'X-CSRFToken': csrftoken
   	  		}
		});

		return false;
});

</script>
</html>